h1 {
	font-size: 2.5em;
	color: #367cd0;
	text-align: center;
}

h1::before {
	content: " ";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #367cd0;
	margin-bottom: 10px;
}

h1::after {
	content: " ";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #367cd0;
	margin-top: 10px;
}

h2::first-letter {
	color: #367cd0;
}

h2 {
	font-size: 1.5em;
	color: #6795ce;
}

p {
	margin-top: 10;
	margin-bottom: 100px;
	margin-right: 10px;
	margin-left: 10px;
}

ol {
	counter-reset: item
}

.liindex {
	display: block
}

.liindex:before {
	content: counters(item, ".") ". ";
	counter-increment: item
}

/* Clases */

.ulnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #99c5f1;
}

.linav {
	float: left;
}

.linav a {
	display: block;
	text-align: center;
	padding: 14px 16px;
}

.linav a:hover:not(.active) {
	background-color: #1e4164;
	color: white;
}

.active {
	background-color: #1e4164;
	color: pink;
}